.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-one{
  width: 250px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.div-two{
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.div-three{
  width: 250px;
  height: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check{
  display: flex;
}